.Popular{
    margin-top: 100px;
}
.Popular h1{
    text-align: center;
}
.PopularItems {
    margin: 20px 70px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
   
    /* justify-content: space-between; */
}
.Popular hr{
    width: 150px;
    height: 5px;
    border-radius: 5px;
    background-color: #252525;
    margin: 10px auto;
}